body {
  background-color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing: 0.3px;
  line-height: 1.6;
  font-weight: 100;
  padding: 30px;
}

h2, h3, p {
  color: #303030;
}

h1 {
  color: #303030;
  font-size: 22px;
}

a {
  color: rgba(17, 1, 30, 0.5);
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  color: rgba(115, 55, 164, 0.5);
}

.container {
  border-radius: 10px;
  border: black;
  width: 500px;
  background-color: rgba(197,213,203,0.5);
  margin: 0 auto;
  text-align: center;
  padding: 50px;
}

.image-circle {
  border-radius: 50%;
}

.links-inline > li {
  list-style: none;
  display: inline-block;
  padding: 10px
}

@media (max-width: 960px) {
  .container {
    width: 700px
  }
}
